@import './pages/Login/Login';
@import './pages/home/Home';

@import './containers/webWindow/WebWindow';
@import './containers/topbar/Topbar';
@import './containers/apiWidget/APIWidget';
@import './containers/activityLogger/ActivityLogger';
@import './containers/dsWidget/DSWidget';
@import './containers/resultWidget/ResultWidget';
@import './containers/analyticsWidget/AnalyticsWidget';

@import './components/activityDialog/ActivityDialog';
@import './components/apiTable/APITable';


*{
    font-family: 'Karla', sans-serif;
}
body{
    background-color: #F5F6FA !important;
}
.centered{
    text-align: center;
}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.pull-right{
    float: right;
}
.pull-left{
    float: left;
}
.hidden{
    display: none;
}
.visible{
    display: initial !important;
}
.block{
    display: block !important;
}
.invisible{
    visibility: hidden !important;
}
.fixed{    
    position: fixed !important;
}
.pointer{
    cursor: pointer;
}
.not-allowed{
    cursor: not-allowed;
}
.borderless{
    border: none !important;
}
.autoHeight{
    height: auto !important;
}

//Theme Colors

.themeRed{
    background-color: #F25F5C;
}
.themeYellow{
    background-color: #FFE066;
}
.themeBlue{
    background-color: #247BA0;
}
.themeGreen{
    background-color: #70C1B3;
}
.mainArea{
    //margin-left: 4vw;
    height: 100vh;
    overflow: auto;
    padding-top: 6vh;
    position: relative;
    z-index: 99;
    padding-right: 0px;
    .pageTitle{
        .mainTitle{
            color: #122034;
            font-weight: bold;
            padding: 0 10px;
        }
    }
}
